body{
  background: #8e9eab;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #eef2f3, #8e9eab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: 'Cantarell', sans-serif;
}/* ------------------ common alignment styles */

.container {
  margin: 0 auto;
  width: 90%;
  max-width: 1200px;
}

/* ------------------------ forms */

.button {
  background: crimson;
  color: #fff;
  outline: none;
  border: none;
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
  margin: 10px 0px 0px 0px;
}

.input, select.input {
  box-shadow: 0 20px 30px 0 rgba(0,0,0,.1);
  font-size: 16px;
  padding: 20px 46px 20px 20px;
  background-color: white;
  border: none;
  box-sizing: border-box;
  border-radius: 5px;
  font-family: inherit;
  min-height: 3.07143em;
  outline: none;
  margin: 0;
  width: 400px;
}

select.input{    
  border-radius: 4px;
  border: none;
  outline: none;
  min-height: 30px;
  padding: 5px 10px;
  font-size: 14px;
  display: block;
  color: #2980b9;
  width: 200px;
  height: 40px;
  box-sizing: border-box;}

.form{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  height: 200px;
  margin: auto;
  border-radius: 5px;
  padding: 10px 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}

.grid-item {
  padding: 20px;
  font-size: 15px;
  text-align: center;
}

.card{
  position: relative;
  width: 200px;
  height: 50px;
  margin:2px;
}

/* ------------------------ List Items (repos)*/

.list {
  list-style: none;
}

/* ------------------------ Retro Table and cardItems */
.board {
  background: #fff;
  box-shadow: 0 2px 1px rgba(0,0,0,.08);
  border-radius: 5px;
}
.retro{
  display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: row;
    width: 100%;
  margin-top:30px ;
}
.column{
  width: 33%;
  box-sizing: border-box;
  padding: 20px;
}

.column .table-title{
  font-size: 14px;
  font-weight: bold;

}
.cardItem{
  background: #fff;
  padding: 20px;
  border-radius: 4px;
  margin-top: 10px;
}
.roomArea{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.roomItem {
  background: #fff;
  padding: 20px;
  border-radius: 4px;
  margin-top: 10px;
  width: 20%;
  box-shadow: 0 2px 1px rgba(0,0,0,.08);
}
.feelings {
  background: #fff;
  padding: 20px;
  border-radius: 4px;
  margin-top: 10px;
  width: 25%;
  box-shadow: 0 2px 1px rgba(0,0,0,.08);
}
.feelingsArea {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.iconGlad {
  width: 30px;
  filter: invert(88%) sepia(29%) saturate(4838%) hue-rotate(2deg) brightness(104%) contrast(105%);
}
.iconMad {
  width: 30px;
  filter: invert(21%) sepia(93%) saturate(1839%) hue-rotate(344deg) brightness(89%) contrast(95%);
}
.iconSad{
  width: 30px;
  filter: invert(27%) sepia(94%) saturate(1310%) hue-rotate(153deg) brightness(100%) contrast(101%);
}
.glad{
  background-color: #FBF5DF;
}

.mad{
  background-color: #F1DCD1
}

.sad{
  background-color: #D1F1F1;
}

.start {
  border-color: #2ecc71
}

.keep{
  border-color: #f39c12;
}

.stop{
  border-color: #e74c3c;
}
h1 {
  font-family: 'Share Tech Mono', monospace;
  font-weight: bold;
  color: crimson;
  font-size: 30px;
}
header{
  background: #fff;
  box-shadow: 0 2px 1px rgba(0,0,0,.08);
  text-align: center;
  padding: 30px;
}
p{
  color: #fff;
  font-size: 20px;
}
.textHome{
  margin: 5% 10% 0% 10%;
  color: #136a8a;
  font-family: 'Cantarell', sans-serif;
  font-size: 30px;
}
.explanationText {
  margin: 5% 10% 0% 10%;
  color: #136a8a;
  font-family: 'Cantarell', sans-serif;
  font-size: 20px;
}