body {
  background: #8e9eab; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #eef2f3,
    #8e9eab
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #eef2f3,
    #8e9eab
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: "Cantarell", sans-serif;
}

.App {
  margin-top: 150px;
}
/* ------------------ common alignment styles */

.container {
  margin: 0 auto;
  width: 90%;
  max-width: 1200px;
}

/* ------------------------ forms */

.button {
  background: crimson;
  color: #fff;
  outline: none;
  border: none;
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
  margin: 20px 0px 20px 0px;
  transition: 0.2s;
}
.button:hover {
  background: dimgrey;
  transition: 0.4s;
}
.buttonDelete {
  background: url("../assets/trash-alt-solid.svg") no-repeat;
  border: none;
  padding: 10px;
  cursor: pointer;
  float: right;
  z-index: 0;
  filter: invert(41%) sepia(2%) saturate(10%) hue-rotate(356deg) brightness(97%)
    contrast(91%);
}
.buttonDelete:hover {
  filter: invert(97%) sepia(100%) saturate(0%) hue-rotate(243deg)
    brightness(87%) contrast(101%);
}

.buttonsContainer {
  display: flex;
  justify-content: space-around;
  width: 400px;
}

.input,
select.input {
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.1);
  font-size: 16px;
  padding: 20px 46px 20px 20px;
  background-color: white;
  border: none;
  box-sizing: border-box;
  border-radius: 5px;
  font-family: inherit;
  min-height: 3.07143em;
  outline: none;
  margin-top: 10%;
  width: 400px;
}
select.input {
  border-radius: 4px;
  border: none;
  outline: none;
  padding: 20px 46px 20px 20px;
  font-size: 14px;
  display: block;
  color: dimgrey;
  height: 60px;
  box-sizing: border-box;
  width: 400px;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 90%; */
  min-height: 300px;
  margin: auto;
  border-radius: 5px;
  padding: 10px 10px;
}
.form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.form-lines {
  margin-bottom: 15px;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}
.grid-item {
  padding: 20px;
  font-size: 15px;
  text-align: center;
}
.card {
  position: relative;
  width: 200px;
  height: 50px;
  margin: 2px;
}

/* ------------------------ List Items (repos)*/

.list {
  list-style: none;
}

/* ------------------------ Retro Table and cardItems */
.board {
  background: #fff;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
}
.retro {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  width: 100%;
  margin-top: 20px;
}
.column {
  width: 33%;
  box-sizing: border-box;
  padding: 20px;
}

.table-title {
  font-size: 16px;
  font-weight: bold;
  color: #136a8a;
}
.card-item {
  background: #fff;
  padding: 20px;
  border-radius: 4px;
  margin-top: 10px;
  color: dimgrey;
}
.room-header {
  display: flex;
}
.room-header-text {
  display: flex;
  flex-direction: column;
  text-align: center;
  /* border: 2px solid rgb(245, 245, 245); */
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.08);
  margin: 0 20px 0 0;
  padding: 20px;
  height: 100%;
}
.room-area {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.room-item {
  background: #fff;
  padding: 20px;
  border-radius: 4px;
  margin: 40px 10px 0 10px;
  width: 20%;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.08);
}
.room-item a {
  color: #136a8a;
  font-family: "Cantarell", sans-serif;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}
.room-item a:hover {
  color: crimson;
  font-family: "Cantarell", sans-serif;
  text-decoration: none;
}
.room-item p {
  color: dimgrey;
  font-size: 14px;
}
#usersBadge {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  height: 33.75px;
  width: 150px;
}

#usersBadgeEmpty {
  display: flex;
  align-items: flex-end;
  height: 33.75px;
}

.hoverBox {
  padding: 12px;
  border-radius: 4px;
  background-color: #136a8a;
  color: white;
  z-index: 2;
}

.hoverBox p {
  color: white;
}

.feelings {
  background: #fff;
  padding: 20px;
  border-radius: 4px;
  margin-top: 10px;
  width: 28%;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.08);
  font-family: "Cantarell", sans-serif;
  font-size: 14px;
  color: dimgrey;
}
.feelings-area {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 10px;
}
.user-area {
  background: #fff;
  padding: 20px;
  border-radius: 4px;
  /* margin-top: 10px; */
  width: 45%;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.08);
  font-family: "Cantarell", sans-serif;
  font-size: 14px;
  color: dimgrey;
  box-sizing: border-box;
}
.description p {
  font-family: "Cantarell", sans-serif;
  font-weight: bold;
  color: #136a8a;
  font-size: 16px;
}
.icon-glad,
.icon-keep {
  width: 30px;
  float: left;
  padding: 0px 10px;
  filter: invert(88%) sepia(29%) saturate(4838%) hue-rotate(2deg)
    brightness(104%) contrast(105%);
}
.icon-mad,
.icon-stop {
  width: 30px;
  float: left;
  padding: 0px 10px;
  filter: invert(21%) sepia(93%) saturate(1839%) hue-rotate(344deg)
    brightness(89%) contrast(95%);
}
.icon-sad,
.icon-start {
  width: 30px;
  float: left;
  padding: 0px 10px;
  filter: invert(27%) sepia(94%) saturate(1310%) hue-rotate(153deg)
    brightness(100%) contrast(101%);
}
.glad,
.keep {
  background-color: #fbf5df;
}

.mad,
.stop {
  background-color: #f1dcd1;
}

.sad,
.start {
  background-color: #d1f1f1;
}
h1 {
  font-family: "Share Tech Mono", monospace;
  font-weight: bold;
  color: crimson;
  font-size: 35px;
}
h1 a {
  text-decoration: none;
  font-size: 35px;
  color: crimson;
}
header {
  position: fixed;
  z-index: 3;
  top: 0;
  width: 100%;
  background: #fff;
  box-shadow: 0 7px 7px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 30px;
  box-sizing: border-box;
}
#headerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.headerSide {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 250px;
}
#loggedinContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  width: 100%;
}
#loggedInAs {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  color: crimson;
}

.text-home {
  margin: 5% 15% 0% 15%;
  color: #136a8a;
  font-family: "Cantarell", sans-serif;
  font-size: 25px;
}
.explanation-text {
  margin: 2%;
  color: #136a8a;
  text-align: center;
  font-family: "Cantarell", sans-serif;
  font-size: 20px;
}
.explanation-text p {
  margin-bottom: 20px;
}

#createCardFormContainer {
  display: flex;
  justify-content: center;
  margin: 0 auto 50px auto;
  width: 80%;
}
