

/* body {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  flex-direction: column;
  min-height: 100vh;
  background: rgb(218, 237, 242);
  font-family: Helvetica;
} */




.list {
  list-style: none;
}

.form{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background: rgb(166, 235, 252);
  width: 90%;
  height: 200px;
  margin: auto;
  border-radius: 5px;
  padding: 10px 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}
.grid-item {
  padding: 20px;
  font-size: 15px;
  text-align: center;
}

.card{
  position: relative;
  width: 200px;
  height: 50px;
  margin:2px;
}

.glad{
  background-color: yellow;
}

.mad{
  background-color: pink;
}

.sad{
  background-color: lightblue;
}

.keep{
  background-color: rgb(237, 170, 2);
}

.start{
  background-color: rgb(250, 142, 160);
}

.stop{
  background-color: lightblue;
}



